main.cart-page {
  padding: 10px;
}

.cart-page {
  > h1 {
    text-align: center;
  }

  .total-cost {
    text-align: right;
    font-size: 1.3em;
  }

  div.order-button {
    display: flex;
    justify-content: center;
  }
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:disabled {
    border-color: var(--light-gray);
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  img {
    margin-right: auto;
    margin-left: 10px;
  }
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}
